backports.functools-lru-cache==1.5
cycler==0.10.0
data==0.4
decorator==4.4.0
funcsigs==1.0.2
future==0.17.1
kiwisolver==1.0.1
latex==0.7.0
matplotlib==2.2.4
mne==0.17.1
numpy==1.16.2
pandas==0.24.1
pyparsing==2.3.1
python-dateutil==2.8.0
pytz==2018.9
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
shutilwhich==1.1.0
six==1.12.0
subprocess32==3.5.3
tempdir==0.7.1
